{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <div class="row">
        <div class="col-md-4">
            {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.name) }}

                <div>
                    <label for="form_frequency" class="form-control-label frequency_label required">To do every</label>

                    {{ form_widget(form.frequency) }}
                    {{ form_widget(form.frequencyUnit) }}

                    {{ form_errors(form.frequency) }}
                    {{ form_errors(form.frequencyUnit) }}
                </div>

                {{ form_row(form.startDate) }}

                {{ form_row(form.adjustOnCompletion) }}

                <button class="form-control btn btn-primary" style="margin-top: 20px;" type="submit">
                    Submit
                </button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}