{% extends 'base.html.twig' %}

{% block title %} Tasks {% endblock %}

{% block body %}

    <h1>Tasks</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Frequency</th>
                <th scope="col">Adjustable Frequency</th>
                <th scope="col">Start Date</th>
                <th scope="col">Created On</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>

            {% for task in tasks %}

                <tr>
                    <td scope="row">{{ task.name }}</td>
                    <td>Every {{ task.frequency }} {{ task.frequencyUnit.name }} </td>
                    <td>{{ task.adjustOnCompletion ? 'yes' : 'no' }}</td>
                    <td>{{ task.startDate.format('D, d M') }}</td>
                    <td>{{ task.createDate.format('D, d M') }}</td>
                    <td>
                        <a href="{{ path('tasks_logs', { id: task.id }) }}">[view logs]</a>
                        <a href="{{ path('tasks_update', { id: task.id }) }}">[update]</a>
                        <a
                                href="{{ path('tasks_delete', { id: task.id }) }}"
                                onClick="return confirm('Are you sure?');">
                            [delete]
                        </a>
                    </td>
                </tr>

            {% endfor %}

        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('tasks_create') }}" style="margin-top: 20px;">
        + Create New Task
    </a>

{% endblock %}